@import url(../css/fonts.css);

* {
    margin: 0;
    padding: 0;
    background-color: #162831;
    color: #fff;
    scroll-behavior: smooth;
}

.container {
    max-width: 1298px;
    margin: auto;
}


/* nav  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.nav_link {
    display: flex;
    justify-content: space-between;
    min-width: 655px;
}

.a_nav {
    color: #fff;
    text-decoration: none;
    font-family: 'ProximaNova';
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.button {
    padding: 9px 15px;
    border: 0;
    background: #018ABE;
    border-radius: 3px;
    font-family: 'ProximaNova';
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    cursor: pointer;
}

/* nav  */

.zagagyli {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.zagagyl_left {
    width: 28px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 0px 50px;
    margin-right: 66px;
}

.zagagyl_right {
    width: 28px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 0px 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 66px;
}

 /* p_footer */
 
 .p_footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.foot_left {
    font-family: 'ProximaNova';
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.foot {
    font-family: 'ProximaNova';
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
}